{% extends 'base.html' %}
{% block titulo %}
{% endblock %}
{% block contenido %}
{% load staticfiles %}

	<div class="container">
      	<div class="card">
        	<div class="card-image">
          		<img src="static/img/femenino.jpg">
          		<span class="card-title">Equipo Femenino</span>
          		
        	</div>
        	<div class="card-content">
          	<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        	</div>
      	</div>
    </div>  	


	<div class="container">
      	<div class="card">
        	<div class="card-image">
          		<img src="static/img/masculino.jpg">
          		<span class="card-title">Equipo Masculino</span>
          		
        	</div>
        	<div class="card-content">
          	<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        	</div>
      	</div>
    </div> 
{% endblock %}
